* {
    margin: 0px;
    padding: 0px;
}

.hiddenBlock-2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    padding: 0px 16px 0px 16px;
    overflow: hidden;
    display: none;
}
.order-header-2 {
    margin-top: 16px;
    background-color: #fff;
}
.order-header-2 p:nth-child(2) {
    font-family: Onest;
    font-size: 17px;
    font-weight: 800;
    line-height: 22px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #fff;
}
.order-header-2 p:nth-child(3) {
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-align: center;
color: #6E7072;
background-color: #fff;
}
.order-header-2 p:nth-child(3) span {
    font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background-color: #fff;
    }
    .order-category-2 h1{
        margin-top: 16px;
        background-color: #fff;
        padding-bottom: 16px;
font-family: Onest;
font-size: 21px;
font-weight: 800;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2D2E2F;;
    }
    .order-category-2 {
        background-color: #fff;
    }
    .order-category-2 input {
        box-sizing: border-box;
        position: relative;
        background-color: #fff;
        border: 2px solid #0286A6;
        border-radius: 4px;
        width: 100%;
height: 220px;
    }
    .order-category-2 input[type="text"] { 
font-family: Open Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    padding-left: 16px;
    padding-bottom: 175px;

}
.btnB-2 {
    width: 100%;
 position: absolute;
 bottom: 16px;
    background-color: #fff;
}
.hiddenBlock-2 {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.btnB-2 button {
    background: #DD0505;
    width: calc(100% - 16px* 2);
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    border: none;
height: 44px;
font-family: Onest;
font-size: 17px;
font-weight: 500;
line-height: 22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
}
.black-2 {
background-color: #fff;
position: absolute;
}
.black-2 button {
    border: none;
    background: #fff;
}
.black-2 img {
background-color: #fff;
}
.w-2{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btnB-2 button:nth-child(1) {
    background: #fff;
    color: #6E7072;
    }
    .btnB-2 button:nth-child(2):disabled {
        opacity: 0.5; /* Делаем кнопку полупрозрачной */
        cursor: not-allowed; /* Меняем курсор на "нельзя" */
        background-color: #ccc; /* Меняем цвет фона */
        /* другие стили */
      }
      
      