.reviews {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding:32px 16px 0px 16px;
    background-color: #fff;
}
.blocks {
    display: flex;
    width: 100%;
}
.estimation {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.stars {
    width: 50%;
    display: flex; 
    flex-direction: column;
    background-color: #fff;
}
.some {
    display: flex;
    background-color: #fff;
}
.new {
    display: flex;
    justify-content: space-around;
     align-items: center;
    width: 80px;
    height: 32px;
    border-radius: 500px;
    border: 1px solid #C8C9CA;
    background-color: #fff;
    margin-right: 8px;
}
.new img {
    background-color: #fff;
}
.new p {
font-family: Open Sans;
font-size: 12px;
font-weight: 600;
line-height: 16px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-variation-settings: 'wdth' 100;
background-color: #fff;
}
.answers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 32px;
    border-radius: 500px;
    border: 1px solid #C8C9CA;
    background-color: #fff;
}
.answers p {
    font-family: Open Sans;
font-size: 12px;
font-weight: 600;
line-height: 16px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-variation-settings: 'wdth' 100;
background-color: #fff;
}
.star {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fff;
}
.star img {
    background-color: #fff;
}
.star p {
font-family: Open Sans;
font-size: 16px;
font-weight: 600;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    padding-left: 5px;
    padding-right: 10px;
    background-color: #fff;
}
.line {
    width: 100%;
    height: 8px;
    border-radius: 500px;
}
.imgs {
    display: flex;
    background-color: #fff;
}
.imgs img {
    padding-right: 3px;
    background-color: #fff;
}
.reviews h1:nth-child(1) {
font-family: Onest;
font-size: 21px;
font-weight: 800;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2D2E2F;
padding-bottom: 48px;
background-color: #fff;
}
.reviews h1:nth-child(2) {
font-family: Onest;
font-size: 33px;
font-weight: 800;
line-height: 36px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
padding-bottom: 8px;
background-color: #fff;
}
.estimation p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6E7072;
    background-color: #fff;
}
.line {
    background: #EAEAEA;
}
.orange {
    background: #FB8C3C;
}
.red {
    background: #FB433C;
}
.nameAvatar {
    display: flex;
}
.revieWW {
    background-color: #fff;
    margin-top: 32px;
}
.nameAvatar img:nth-child(1) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}
.name {
    display: flex;
    flex-direction: column;
    padding-left: 8px;

    background-color: #fff;
}
.nameAvatar {
    background-color: #fff;
}
.name p:nth-child(1) {
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background-color: #fff;
color: black;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.icons img {
    background-color: #fff;
    width: 16px !important;
    height: 16px !important;
    border-radius: 0px !important;
}
.icons p {
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #6E7072;
background-color: #fff;
}

.fourStars {
    padding-top: 16px;
display: flex;
background-color: #fff;
align-items: center;
}
.fourStars img {
    width: 20px;
    height: 20px;
    padding-right: 3px;
background-color: #fff;
}
.fourStars p {
    padding-left: 5px;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: right;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #6E7072;
    background-color: #fff;
}
.textContainer {
    padding-top: 12px;
    background-color: #fff;
}
.hdtext {
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
    background-color: #fff;
    overflow: hidden;
 text-overflow: ellipsis;
  transition: max-height 0.5s ease; 
}
.btns {
    background-color: #fff;
}
.btns button {
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
    border: none;
    background-color: #fff;
    color: #0286A6;

}
.imgS {
    padding-top: 16px;
    justify-content: space-between;
    background-color: #fff;
    display: flex;
}
.imgS img {
    width: 24%;
    height: 100%;
    border-radius: 4px;
}
.reactions {
    padding-top: 32px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
.reactions button {
    width: 44px;
    height: 44px;
 border: none;
    background-color: #fff;
}
.reactions img {
    width: 24px;
    height: 24px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #C8C9CA;
    border-radius: 100px;
}
.knopka {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.knopka p {
    margin-top: 5px;
    background-color: #fff;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 16px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #6E7072;
}
.name p:nth-child(2) {
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background-color: #fff;
color: #6E7072;
}
.reviews .revieWW:nth-last-child(6) {
    border-left: 4px solid #EAEAEA;
    padding-left: 16px;
}
.ans {
    display: none;
}
.reviews .revieWW:nth-last-child(5) {
    border-left: 4px solid #EAEAEA;
    padding-left: 16px;
}
.comments {
    margin-top: 16px;
    display: flex;
    background-color: #fff;
    align-items: center;
    border-bottom: 1px solid #C8C9CA;
}
.comments p {
    background-color: #fff;
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #0286A6;
}
.comments img {
    background-color: #fff;
    padding-left: 8px;
}
.comments button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
}
.com {
    padding-top: 16px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    background-color: #fff;
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #0286A6;
padding-bottom: 16px;
}
.reviews .revieWW:nth-last-child(2) {
    border-bottom: 1px solid #C8C9CA;
    padding-bottom: 32px;
}
.btnM {
    padding-top: 48px;
    background-color: #fff;
    padding-bottom: 32px;
}
.btnM button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
height: 46px;
padding: 11px 16px 11px 16px;
border-radius: 4px;
background-color: #fff;
border: 1px solid #C8C9CA
}
.btnM button p {
color: #2D2E2F;
font-family: Onest;
font-size: 17px;
font-weight: 500;
line-height: 22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background-color: #fff;
}
.report {
    background-color: #fff;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-bottom: 48px;
}
.report h1 {
    background-color: #fff;
    font-family: Onest;
    font-size: 21px;
    font-weight: 800;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2D2E2F;
    padding-bottom: 20px;
    }

.report p {
    background-color: #fff;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2D2E2F;
}
.report p span {
    background-color: #fff;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0286A6;
}
