.map {
    margin-top: 12px;
    background-color: #fff;
}
.m {
    padding-bottom: 24px;
    background-color: #fff;
}
.map p:nth-child(2) {
font-family: "Open Sans";
font-size: 16px;
font-weight: 600;
line-height: 22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2D2E2F;
background-color: #fff;
padding-left: 16px;
padding-bottom: 8px;
}
.map p:nth-child(3) span {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#DC0E0E;
    background-color: #fff;
    
}
.map p:nth-child(3) {
font-family: Open Sans;
font-size: 16px;
font-weight: 600;
line-height: 22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #6E7072;
background-color: #fff;
padding-left: 16px;
}