* {
    margin: 0px;
    padding: 0px;
}

.hiddenBlock {
    background-color: #fff;
    padding: 16px 16px 16px 16px;
}
.order-header {
    height: 100%;
    margin-top: 16px;
    background-color: #fff;
}
.order-header p:nth-child(2) {
    font-family: Onest;
    font-size: 17px;
    font-weight: 800;
    line-height: 22px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #fff;
}
.order-header p:nth-child(3) {
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-align: center;
color: #6E7072;
background-color: #fff;
}
.order-header p:nth-child(3) span {
    font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background-color: #fff;
    }
    .order-category h1{
        margin-top: 16px;
        background-color: #fff;
        padding-bottom: 16px;
font-family: Onest;
font-size: 21px;
font-weight: 800;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2D2E2F;;
    }
    .order-category {
        background-color: #fff;
    }
.order-category ul {
    list-style-type: none;
    background-color: #fff;
}
.order-category ul li {
    display: flex;
    justify-content: space-between;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
padding-bottom: 16px;
padding-top: 16px;
border-bottom: 1px solid #EAEAEA;
background-color: #fff;
}
.order-category ul li:nth-last-child(1) {
    border-bottom: none;
}
.btnB {
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.hiddenBlock {
    display: none;
    height: 100%;
}
.btnB button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
width: 100%;
height: 44px;
background: #F0F0F0;
font-family: Onest;
font-size: 17px;
font-weight: 500;
line-height: 22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.black {
background-color: #fff;
position: absolute;
}
.black button {
    border: none;
    background: #fff;
}
.black img {
background-color: #fff;
}
.w {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}